<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>

{#<nav class="navbar">#}
{#<div class="container">#}
{#<div class="navbar-menu">#}
{#<div class="navbar-end">#}
{#<a class="navbar-item" href="{{ path('homepage') }}">#}
{#Główna#}
{#</a>#}
{#{% if app.user %}#}
{#<a class="navbar-item" href="{{ path('account_index') }}">#}
{#Konto#}
{#</a>#}
{#<a class="navbar-item" href="{{ path('logout') }}">#}
{#Wyloguj#}
{#</a>#}
{#{% else %}#}
{#<a class="navbar-item" href="{{ path('login') }}">#}
{#Zaloguj#}
{#</a>#}
{#<a class="navbar-item" href="{{ path('user_registration') }}">#}
{#Zarejestruj#}
{#</a>#}
{#{% endif %}#}
{#</div>#}
{#</div>#}
{#</div>#}
{#</nav>#}

    {% block body %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
