{% extends 'base.html.twig' %}

{% block title %}Character index{% endblock %}

{% block body %}
    <h1>Character index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Gender</th>
                <th>Size</th>
                <th>Alignment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.id }}</td>
                <td>{{ character.name }}</td>
                <td>{{ character.age }}</td>
                <td>{{ character.height }}</td>
                <td>{{ character.weight }}</td>
                <td>{{ character.gender }}</td>
                <td>{{ character.size }}</td>
                <td>{{ character.alignment }}</td>
                <td>
                    <a href="{{ path('character_show', {'id': character.id}) }}">show</a>
                    <a href="{{ path('character_edit', {'id': character.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('character_new') }}">Create new</a>
{% endblock %}