{% extends 'base.html.twig' %}

{% block title %}Ability index{% endblock %}

{% block body %}
    <h1>Ability index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Code</th>
            <th>Value</th>
            <th>Temporary Value</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ability in abilities %}
            <tr>
                <td>{{ ability.id }}</td>
                <td>{{ ability.name }}</td>
                <td>{{ ability.code }}</td>
                <td>{{ ability.value }}</td>
                <td>{{ ability.tempValue }}</td>
                <td>
                    <a href="{{ path('ability_show', {'character': character.id, 'ability': ability.id}) }}">show</a>
                    <a href="{{ path('ability_edit', {'character': character.id, 'ability': ability.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ability_new', { 'character': character.id }) }}">Create new</a>
{% endblock %}